* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cont-1 {
  height: 100vh;
}
.cont-2 {
  height: 60px;
  background-color: #3367d6;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.cont-3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.img-1 {
  width: 100px;
  height: 27px;
}
.img-2 {
  height: 37px;
  width: 50px;
  background-color: #2850a7;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
}

.input-style {
  padding: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-width: 0px;
  background-color: #2850a7;
  min-width: 400px;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  color: #ffffff;
}
.cont-part-2 {
  padding: 30px;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.ul-list-style {
  min-width: 100%;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  box-sizing: border-box;

  padding: 20px;
}
